@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";

:host {
  display: block;
  box-sizing: border-box;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;}

.elements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.left-elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/4;
  bbva-web-button-default {
    height: auto;
  }
}

.right-elements {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

bbva-web-button-default {
  border-radius: 0;
  border: 0;
  background-color: #000000;
}
